# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
*.egg
*.pyo

# Jupyter
.ipynb_checkpoints/

# MLflow (локальные артефакты)
mlruns/
mlartifacts/

# DVC data (исключаем сырые/обработанные CSV, кроме .gitkeep/.dvc)
data/**/*.csv
!data/**/.gitkeep

# Models (артефакты)
models/*.pkl
models/*.joblib

# OS/IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
