data:
  raw_path: "data/raw/UCI_Credit_Card.csv"
  processed_dir: "data/processed"
  test_size: 0.2
  random_state: 42
  target: "target"

features:
  age_bins: [18, 25, 35, 45, 60, 100]
  util_clip_min: 0.0
  util_clip_max: 5.0

model:
  algorithm: "logreg"   # options: logreg, rf, hgb
  class_weight: "balanced"  # для логрег
  grids:
    logreg:
      C: [0.5, 1.0, 2.0]
      penalty: ["l2"]
      max_iter: [200]
    rf:
      n_estimators: [100]
      max_depth: [6, 10]
      min_samples_split: [20]
      n_jobs: [-1]
    hgb:
      learning_rate: [0.05, 0.1]
      max_depth: [3, 5]
      max_iter: [150]
training:
  cv_folds: 3
  scoring: "roc_auc"

mlflow:
  tracking_uri: "mlruns"
  experiment_name: "pd_default_ucicredit"

monitoring:
  psi_threshold: 0.25
  features_to_monitor: ["predicted_proba", "utilization_last", "pay_delay_sum"]
